*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

#logo{
    margin: 10px 35px;
}

#logo img{
    height: 59px;
    margin: 3px 5px;
    border-radius: 30px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 550px;
    align-items: center;
}

#home::before{
    content: "";
    background: url("../images/bg1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 85%;
    width: 100%;
    z-index: -2;
    opacity: .75;
}

#home h1{
    color: black;
    margin-top: 50px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 75px;
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 40px;
}

#services-container{
    background-color: #c9e1f3;
}

#services{
    display: flex;
    justify-content: space-evenly;
}

#services .box{
    border: 2px solid burlywood;
    padding: 10px;
    margin: 0px 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50px;
    width: 250px
}

#services .box a{
    text-decoration: none;
    color: black;
}

#services .box img{
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 25px;
}

#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
}

#services .box:hover{
    transform: translate(0, -10px);
    transition: 0.25s;
}


#about-container{
    height: 520px;
    position: relative;
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .about-item img{
    height: 335px;
    border-radius: 170px;
}

.about-item{
    margin: 0px 50px;
    padding: 20px 34px;
}

.about-item .about-items h2{
    margin-top: 50px;
}

.about-item .about-items li{
    font-size: 20px;
    margin-top: 10px;
}

.about-item .about-items h1{
    font-size: 50px;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 50%;
}
 
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github{
    background: #040404;
    color: white;
}

.fa-facebook {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #f95e5e;
    color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}

.center{
    text-align: center;
}
