*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

#logo{
    margin: 10px 35px;
}

#logo img{
    height: 59px;
    margin: 3px 5px;
    border-radius: 30px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#space{
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#space::before{
    content: "";
    background: url("../images/bg1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .75;
}

#space h2{
    font-size: 50px;
}

#table-container{
    display: flex;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    display: table;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border-collapse: collapse;
    width: 85%;
}

table th {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

tr {
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid #b8a6a6;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.5);
}

#fill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#receiver{
    height:22px;
    padding:1px 2px;
    border:2px;
}

#amount{
    border:2px;
}

button{
    position:relative;
    left: 0px;
    bottom:10px;
    border:none;
    padding:10px;
    color:black;
    font-weight: bold;
    border-radius:5px;
    background-color:skyblue;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.25s;
}

button:hover{
    color:whitesmoke;
    background-color: blue;
    transform: translate(0, -3px);
    box-shadow: 0 2px 6px black;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
